/*---------------------------------
 Blowmedia CSS Framework

 @author Richard Crosby
----------------------------------*/

/*---------------------------------
 Reset
----------------------------------*/

*
	box-sizing border-box

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp
	border 0
	margin 0
	padding 0
	font-size 100%

html, body
	height 100%

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display block

b, strong
	font-weight bold

img
	color transparent
	font-size 0
	vertical-align middle
	-ms-interpolation-mode bicubic

ol, ul
	list-style none

li
	display list-item

table
	border-collapse collapse
	border-spacing 0

th, td, caption
	font-weight normal
	vertical-align top
	text-align left

q
	quotes none

q:before, q:after
	content ''
	content none

sub, sup, small
	font-size 75%

sub, sup
	line-height 0
	position relative
	vertical-align baseline

sub
	bottom -0.25em

sup
	top -0.5em

svg
	overflow hidden

/*---------------------------------
 Grid System Variables

 Set these according to the individual
 project needs
----------------------------------*/

row_width = 960px
column_count = 12
gutter_width = 20

/*---------------------------------
 Grid System Classes

 These classes can be applied straight
 to HTML
----------------------------------*/

.container
	width row_width
	margin-left auto
	margin-right auto
	padding 0 10px
	overflow hidden
	
.row
	margin-bottom 10px

div[class*="column_"]
	padding 0 10px
	float left
	display inline
	
	&:first-child
		padding-left 0
		
	&:last-child
		padding-right 0

for col in 1..column_count
	.column_{col}
		width (col * (100 / column_count))%

.clear
	clear both
	display block
	overflow hidden
	visibility hidden
	width 0
	height 0

.container:before, .container:after
	content '.'
	display block
	overflow hidden
	visibility hidden
	font-size 0
	line-height 0
	width 0
	height 0

/*---------------------------------
 Grid System Functions

 These can be used within other
 classes so that the same grid can
 be used
----------------------------------*/

container()
	width row_width
	margin-left auto
	margin-right auto
	
	&:before, &:after
		content '.'
		display block
		overflow hidden
		visibility hidden
		font-size 0
		line-height 0
		width 0
		height 0
		
clear()
	clear both
	display block
	overflow hidden
	visibility hidden
	width 0
	height 0
	
row()
	margin-bottom 10px
	
columns(col, offset = 0, position = normal)
	if (position != normal && offset == 0)
		width (ceil(col * (row_width / column_count)) - gutter_width + (gutter_width / 2))px
	else
		width ceil(col * (row_width / column_count))px
	if position == first && offset == 0
		padding-left 0
	else
		padding-left 10px
	if position == last
		padding-right 0
	else
		padding-right 10px
	if (position == first && offset != 0)
		margin-left (ceil(offset * (row_width / column_count)) - (gutter_width / 2))px
	else if (offset != 0)
		margin-left ceil(offset * (row_width / column_count))px
	position relative
	float left
	display inline	
	
/*---------------------------------
 Functions
----------------------------------*/

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-o-{prop} args
	-ms-{prop} args
	{prop} args

box-sizing()
	vendor('box-sizing', arguments)
	
shadow()
	vendor('box-shadow', arguments)
	
-bm-rotate(deg)
	vendor('transform', rotate(deg))
	

lifted-corners()
	position relative
	z-index 0
	
	&:before, &:after
		content ""
		position absolute
		z-index -1
		bottom 9px
		left 15px
		width 50%
		height 20%
		max-width 300px
		box-shadow 0 10px 20px rgba(0, 0, 0, 0.3)
		-bm-rotate -3deg
	
	&:after
		right 15px
		left auto
		-bm-rotate 3deg

em(pixels)
	(pixels / 16)em

border-radius()
	vendor('border-radius', arguments)

center()
	margin-left auto
	margin-right auto
		
inner-border(inset, width = 1, colour = black)
	position relative

	&:before
		content ''
		border width solid colour
		position absolute
		width -moz-calc(100% \- (inset * 2) \- (width * 2))
		width -webkit-calc(100% \- (inset * 2) \- (width * 2))
		width -o-calc(100% \- (inset * 2) \- (width * 2))
		width calc(100% \- (inset * 2) \- (width * 2))
		height -moz-calc(100% \- (inset * 2) \- (width * 2))
		height -webkit-calc(100% \- (inset * 2) \- (width * 2))
		height -o-calc(100% \- (inset * 2) \- (width * 2))
		height calc(100% \- (inset * 2) \- (width * 2))
		if @padding-top
			margin-top 0 - (@padding-top - inset)
		else
			margin-top inset
		if @padding-left
			margin-left 0 - (@padding-left - inset)
		else
			margin-left inset
			
-bm-padding(top, right = top, bottom = top, left = top)
	padding-top top
	padding-right right
	padding-bottom bottom
	padding-left left

/*---------------------------------
 Gradients
----------------------------------*/

gradient(gradientTop, gradientBottom, gradientdefault = gradientTop)
	background default
	background -moz-linear-gradient(top, gradientTop 0%, gradientBottom 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%, gradientTop), color-stop(100%, gradientBottom))
	background -webkit-linear-gradient(top, gradientTop 0%, gradientBottom 100%)
	background -o-linear-gradient(top, gradientTop 0%, gradientBottom 100%)
	background -ms-linear-gradient(top, gradientTop 0%, gradientBottom 100%)
	background linear-gradient(to bottom, gradientTop 0%, gradientBottom 100%)